# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bGFzdGluZy1jdWItNjEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_mdbVvw6FSNNz7ZeLUITuH2wMuxlHWTz4xfLdjigPsm

# Database Configuration
# Default for Docker setup: postgresql://postgres:postgres@localhost:5432/careerstack
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/careerstack

# Server Configuration
PORT=3000
FRONTEND_PORT=5173
NODE_ENV=development
